### Project ###
www/*
!www/default/
database/*

### Vagrant ###
.vagrant

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### IntelliJ based IDE's like PhpStorm ###
*.iml
*.ipr
*.iws
.idea/

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
build.properties

### SublimeText ###
*.sublime-workspace

# Much credit to http://gitignore.io for many of these